form div {
    height: 40px;
    padding: 12px;
    border:2px dotted blue;
    width: 50%;
    margin-bottom: 8px;
    border-radius: 12px;
}

form div .input-text {
    padding: 12px;
    width: 50%;
    border-radius: 40px;
}